.border-dashed {
    --bs-border-width: 2px;
    --bs-border-style: dashed;
}

.border-dashed * {
    --bs-border-width: 1px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
