.border-dashed {
    --bs-border-width: 2px;
    --bs-border-style: dashed;
}

.border-dashed * {
    --bs-border-width: 1px;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-center {
    display: flex;
    align-items: center;
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.height-fit {
    min-height: fit-content;
    max-height: fit-content;
}

.video-card-checkbox {
    margin: 0.5rem 0.5rem -1.31rem auto;
    position: relative;
    z-index: 1;
    zoom: 1.5;
}
